:root {
    --navyblue: #2E2F42;
    --white: #FFF;
    --slate: #434455;
    --light-slate:#8E8F99;
    --iris: #4D5AE5;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
    --ocean:  #404BBF;
    --green: #31D0AA;
    --dairy: #fcfcfc;
    --overlay: #2e2f4266;
}

/* Base */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


a,
a:hover,
a:active {
    text-decoration: none;
}

img{
    display: block;
}

ul {
    list-style-type: none;
    margin:0;
    padding-left: 0;
}
/* END base */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.section {
    padding: 120px 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
  

/* Header */
.header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    max-width: 1440px;
    margin: 0 auto;
}

.header .container{
    display:flex;
    padding: 0 15px;
    align-items: center;
}

.header .container .nav{
    display: flex;
    align-items: center;
    margin-right: 332px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: var(--iris);
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav .logo{
    margin-right: 76px;
}

.logo-accent {
    color: var(--navyblue);
}

.menu{
    display: flex;
    gap: 40px;
}

.nav-link {
    display: inline-block;
    color: var(--navyblue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .nav-link-active {
    position: relative;
}

.menu .nav-link-active::after {
position: absolute;
display: block;
border-radius: 2px;
width: 100%;
height: 4px;
bottom: -1px;
background-color: var(--ocean);
content: '';
}

.nav-link:hover,
.nav-link:focus,
.menu .nav-link-active {
    color: var(--ocean);
}

.adress {
    font-style: normal;
}

.adress-list {
    display: flex;
    gap: 40px;
}

.adress-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link:hover, .adress-link:focus {
    color: var(--ocean);
}
/* END header */

/* Main section */
.main-section {
    background-color: var(--color-navy-blue);
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-section-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.main-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    background-color: var(--iris);
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
    border: none;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.225);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover, .main-button:focus {
    background-color: var(--ocean);
}

.main-button-text {
    color: var(--white, #FFF);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
/* END main section */

/* Advantages section */
.advantages-list {
    display: flex;
    gap:24px;
}

.advantages-item {
    width: calc((100% - 72px) / 4);
}

.advantages-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--light-slate);
    background-color: var(--cloud);
}

.advantages-icons .icon {
    width:64px;
    height: 64px;
}

.advantages-title {
    color: var(--navyblue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantages-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
/* END advantages section */

/* Team section */
.team-section {
    background: var(--cloud, #F4F4FD);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navyblue);
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap:24px;
}

.team-item {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
}

.team-img {
    max-width: 100%;
}

.team-info {
    padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navyblue);
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
    color: var(--slate);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
}

.team-links-item {
    width: 40px;
    height: 40px;
}

.team-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
    background-color: var(--ocean);
}

.team-links .icon {
    width: 16px;
    height: 16px;
    fill: var(--cloud);
}
/* END team section */

/* Portfolio section */
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navyblue);
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap:24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:nth-child(n+4) {
    margin-bottom: 0;
}

.portfolio-img {
    max-width: 100%;
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 8px;
}

.portfolio-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-show {
    position: relative;
    overflow: hidden;
}

.overlay {
    padding: 40px 32px;
    background-color: var(--iris);
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}
/* END portfolio section */

/* Footer */
.footer {
    background-color: var(--navyblue);
    padding: 100px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-logo-block {
margin-right: 120px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer .logo-web {
    color: var(--cloud);
}

.footer-text {
    color: var(--cloud);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-social-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon:hover, 
.footer-social-icon:focus {
background-color: var(--green);
}

.footer-social-links .icon {
    width: 24px;
    height: 24px;
    fill: var(--cloud);
}

.footer-subscribe {
    margin-left: 80px;
  }

  .subscribe-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .footer-form {
    display: flex;
    gap: 24px;
    align-items: end;
  }

  .footer-label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 16px;
  }

  .footer-input {
    color: var(--white);
    background-color: var(--navyblue);
    border: 1px solid var(--white);
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }

  .footer-input::placeholder {
    color: var(--white);
    font-weight: 400;
    font-size: 12px;
    line-height: 2em;
    letter-spacing: 0.04;
  }

  .footer-input:focus {
    outline: none;
  }

  .subscribe-btn {
    font-family: 'Roboto', sans-serif;
    min-width: 165px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 16px;
    padding: 8px 24px;
    background-color: var(--iris);
    color: var(--white);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    border: none;
  }

  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background-color: var(--ocean);
  }

  .subscribe-icon {
    margin-left: 16px;
    fill: var(--white);
    width: 24px;
    height: 24px;
  }
/* END footer */

/* Modal */
.modal-overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--overlay);
    position: fixed;
    cursor: default;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--dairy);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    padding: 24px;
    padding-top: 72px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .modal .is-open {
    visibility: visible;
    opacity: 1;
  }
  
  .modal-title {
    font-weight: 500;
    font-size: 16px;
    color: var(--navyblue);
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
  }
  
  .modal-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: var(--cornflower);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }

  .modal-close-icon {
    width: 8px;
    height: 8px;
    fill: var(--navyblue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn[type='button']:hover,
  .modal-close-btn[type='button']:focus {
    background-color: var(--ocean);
    border: none;
  }

  .modal-close-btn[type='button']:hover .modal-close-icon,
  .modal-close-btn[type='button']:focus .modal-close-icon {
    fill: var(--white);
  }

  .modal-form {
    display: flex;
    flex-direction: column;
  }

  .field-block {
    margin-bottom: 8px;
  }

  .modal-label {
    display: block;
    margin-bottom: 4px;
    color: var(--light-slate);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    position: relative;
  }

  .modal-label a {
    color: var(--iris);
    text-decoration: underline;
  }

  .modal-label a:hover,
  .modal-label a:focus,
  .modal-label a:active {
    text-decoration: none;
  }

  .field-subblock {
    position: relative;
  }

  .modal-field {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-field:focus,
  .modal-field:active {
    border: 1px solid var(--iris);
  }

  .modal-icon {
    position: absolute;
    width: 18px;
    height: 24px;
    left: 16px;
    fill: var(--navyblue);
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-field:focus + .modal-icon {
    fill: var(--iris);
  }

  .textarea-block {
    margin-bottom: 16px;
  }

  .modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-textarea:focus {
    border-color: #4d5ae5;
  }

  .checkbox-block {
    margin-bottom: 24px;
  }

  .user-privacy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
  }

  .user-privacy-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
  }

  .user-privacy-icon {
    fill: var(--cloud);
  }

  input[type='checkbox']:checked + label span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
  }

  .user-privacy-link {
    color: var(--iris);
    text-decoration: underline;
  }

  .modal-button {
    padding: 16px 32px;
    background-color: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white);
    border-radius: 4px;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;
    margin-top: 24px;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-button:hover {
    background-color: var(--ocean);
    border: none;
    fill: var(--white);
  }

  .modal-button:focus {
    background-color: var(--ocean);
    border: none;
    fill: var(--white);
  }
/* END modal */